[submodule "mojo-gpu-puzzles"]
	path = mojo-gpu-puzzles
	url = https://github.com/modular/mojo-gpu-puzzles.git
[submodule "modular"]
	path = modular
	url = https://github.com/modular/modular.git
[submodule "max-llm-book"]
	path = max-llm-book
	url = https://github.com/modular/max-llm-book.git
